.polar .navigation-buttons {
    position: absolute;
    top: 55px;
    right: 0px;
    border-color: lightgray;
}
.polar .download-button {
    z-index: 800;
    border-color: lightgray;
}

.polar .route-button{
     z-index: 800;
    border-color: lightgray;
 }

.draw-name {
    position: absolute;
    top: 35px;
    width: 100%;
    z-index: 800;
    text-align: center;
}
