body {
    background-color: white;
    font-family: sans-serif, helvetica, arial;
    text-align: center;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    max-width: 100%;
}

a.bus-link-txt {
    display: inline-block;
    color: black;
}

a.north-halsted {
    background-color: yellow;
}

a.south-halsted {
    background-color: pink;
}

a.milwaukee {
    background-color: lightblue;
}

a.earth1 {
    background-color: lightgreen;
    max-width: 300px;
}

a.earth2 {
    background-color: lightblue;
    max-width: 300px;
}

img.preview {
    width: 50%;
    float: left;
}

img.bus-link-img {
    width: 100%;
}

@media (max-width: 500px) {
    img.preview {
        /* margin-left: auto; margin-right:auto; */
        width: 100% !important;
    }
}

/*
     div.preview-container { width: 100%; margin-left:auto; margin-right: auto;
     } */
