.overlay {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}
#root {
}

.container {
    height: 100%;
    position: relative;
    text-align: center;
}

.front-page {
    overflow: hidden;
}

.front-page h1 {
    font-size: 2vw;
}
.container table {
    width: 100%;
}

body {
    overflow: hidden;
}
html {
}

.float-bottom {
    float: right;
    padding: 10vw;
}

.float-right {
    align-content: flex-end;
    position: relative;
    right: 20vw;
}

.main-image {
    height: 100vh;
    width: 100vw;
    z-index: -1;
}
.container .name {
    width: 100%;
    text-align: center;
    position: relative;
    color: aliceblue;
    font-size: 6vw;
}

.container .app {
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 3vw;
}

.container .app a {
    color: #63c760;
}
.container .listItem {
    font-size: 4vw;
    margin: 10px
}
.container .route {
    color: lightblue;
}
.container .operate {
    color: magenta;
}
